<div class="jumbotron">

    <h2>{{TaskLabel}} Task</h2>

    <div>       
        <form name="addForm" [formGroup]="formGrp" (ngSubmit)="AddTask(formGrp.value)">
            <input type="hidden" id="taskid" name="taskid" formControlName="TaskId"  >
            <div class="row">

                <div class="col-25">
      
                    <label for="title">Project:</label>
      
                </div>               
      
                <div class="col-38">
      
                    <input type="text" id="projectid" name="projectid" formControlName="ProjectId" readonly="readonly" >
                    <!-- <div *ngIf="!formGrp.controls['EmployeeId'].valid && formGrp.controls['EmployeeId'].touched">
                        <span class="text-danger" *ngIf="formGrp.controls['EmployeeId'].errors.required">{{errormsg}}</span>                        
                    </div> -->
      
                </div>
                <div class="col-25">
                    <input type="button" class="projsearchbtn" value="Search" (click)="SearchProject()" >
                </div>
      
            </div>
            <div class="row">

                <div class="col-25">

                    <label for="title">Task:</label>

                </div>               

                <div class="col-75">

                    <input type="text" id="task" name="task" formControlName="Task"  required>
                    <div *ngIf="!formGrp.controls['Task'].valid && formGrp.controls['Task'].touched">
                        <span class="text-danger" *ngIf="formGrp.controls['Task'].errors.required">{{errormsg}}</span>                        
                    </div>

                </div>

            </div>
            <div class="row">

                <div class="col-25">

                    

                </div>               

                <div class="col-75">
                    <input type="checkbox" id="chckbox" name="chckbox" style="height: 26px;width: 42px;"  (change)="handleChange($event)" > Parent Task                   
                </div>

            </div>

            <div class="row">

                <div class="col-25">

                    <label for="note">Priority:</label>

                </div>

                <div class="col-75">
                    <input type="range" min="0" max="30" class="slider" style="margin-top: 22px;" id="priority" name="priority" formControlName="Priority" required>  
                    <!-- <div *ngIf="!formGrp.controls['Priority'].valid && formGrp.controls['Priority'].touched">
                        <span class="text-danger" *ngIf="formGrp.controls['Priority'].errors.required">{{errormsg}}</span>                        
                    </div>   -->
                </div>

            </div>

            <div class="row">
                    <div class="col-25">
      
                            <label for="title">Parent Task:</label>
              
                        </div>               
              
                        <div class="col-38">
              
                            <input type="text" id="parentTask" name="parentTask" formControlName="ParentTaskId" readonly="readonly" >
                            <!-- <div *ngIf="!formGrp.controls['EmployeeId'].valid && formGrp.controls['EmployeeId'].touched">
                                <span class="text-danger" *ngIf="formGrp.controls['EmployeeId'].errors.required">{{errormsg}}</span>                        
                            </div> -->
              
                        </div>
                        <div class="col-25">
                            <input type="button" class="projsearchbtn" value="Search" (click)="SearchParentTask()" >
                        </div>              

            </div>

            <div class="row" >

                    <div class="col-25">

                            <label for="category">Start Date:</label>
        
                        </div>

                <div class="col-75">

                    <input type="date" id="startDate" name="startDate"  formControlName="StartDate" >
                    <!-- <div *ngIf="!formGrp.controls['StartDate'].valid && formGrp.controls['StartDate'].touched">
                        <span class="text-danger" *ngIf="formGrp.controls['StartDate'].errors.required">{{errormsg}}</span>                        
                    </div>  -->

                </div>

            </div>
            <div class="row">

                <div class="col-25">

                    <label for="category">End Date:</label>

                </div>

                <div class="col-75">

                    <input type="date" id="endDate" name="endDate" formControlName="EndDate" >
                    <!-- <div *ngIf="!formGrp.controls['EndDate'].valid && formGrp.controls['EndDate'].touched">
                        <span class="text-danger" *ngIf="formGrp.controls['EndDate'].errors.required">{{errormsg}}</span>                        
                    </div>  -->

                </div>

            </div>
            <div class="row">

                <div class="col-25">
      
                    <label for="title">Manger:</label>
      
                </div>               
      
                <div class="col-38">
      
                    <input type="text" id="employeeid" name="employeeid" formControlName="EmployeeId" readonly="readonly">
                    <!-- <div *ngIf="!formGrp.controls['EmployeeId'].valid && formGrp.controls['EmployeeId'].touched">
                        <span class="text-danger" *ngIf="formGrp.controls['EmployeeId'].errors.required">{{errormsg}}</span>                        
                    </div> -->
      
                </div>
                <div class="col-25">
                    <input type="button" class="projsearchbtn" value="Search" (click)="SearchUser()" >
                </div>
      
            </div>

            <!-- <input type="hidden" id="createdby" name="createdby" formControlName="CreatedBy"  >
            <input type="hidden" id="createddate" name="createddate" formControlName="CreatedDate"  > -->

            <div class="row">

                <input type="submit" value="Save" >

                <input type="button" value="Reset" (click)="ResetTask()" >

            </div>

        </form>

    </div>

   

</div>

<div class="modal fade" id="managerModal"  role="dialog">
        <div class="modal-dialog">
            
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Manager List</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="searchManager" [(ngModel)]="EmployeeId" name="radioMgrSearch">
                </div> 
    
                <div class="modal-body" *ngFor="let manager of managerDetails| filter : { EmployeeId : EmployeeId}" >
                    <label class="modContainer">{{manager.Employee_Id}}
                        <input type="radio" name="radio"  [value]="manager.Employee_Id" (click)="SelectedManger(manager)"/>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"  data-dismiss="modal" >OK</button>
                </div>
            </div>
        </div>
    </div>

    
    <div class="modal fade" id="parentModal"  role="dialog">
            <div class="modal-dialog">
                
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Parent Task List</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="searchManager" [(ngModel)]="ParentTaskId" name="radioMgrSearch">
                    </div> 
        
                    <div class="modal-body" *ngFor="let manager of parentTasks| filter : { ParentTaskId : ParentTaskId}" >
                        <label class="modContainer">{{manager.ParentTask}}
                            <input type="radio" name="radio"  [value]="manager.Employee_Id" (click)="SelectedParent(manager)"/>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"  data-dismiss="modal" >OK</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="projectModal"  role="dialog">
                <div class="modal-dialog">
                    
                    <div class="modal-content" >
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Parent Task List</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" id="searchManager" [(ngModel)]="ProjectId" name="radioMgrSearch">
                        </div> 
            
                        <div class="modal-body" *ngFor="let manager of projectDetails| filter : { ProjectId : ProjectId}" >
                            <label class="modContainer">{{manager.Project_Name}}
                                <input type="radio" name="radio"  [value]="manager.Employee_Id" (click)="SelectedProject(manager)"/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"  data-dismiss="modal" >OK</button>
                        </div>
                    </div>
                </div>
            </div>
        